.new-task {
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 65px;
  width: 60%;
  height: 100%;
  background-color: #ecf3f7;

  &__area {
    height: 100px!important;
  }

  &__title {
    background-color: #1a4876;
    padding: 15px 35px;
    font-size: 18px!important;
    color: #ffffff!important;
    margin: 0 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2, span {
      display: block;
      font-size: 18px!important;
      color: #ffffff!important;
    }

    & button {
      background: none;
    }
  }

  &__form {
    padding: 0 35px;

    & input[type='submit'] {
      align-self: start;
      padding: 14px 34px;
      border-radius: 20px;
      background-color: #008cf0;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }

  }

  &__line {
    margin: 0 0 25px 0;

    & label {
      font-size: 14px;
      font-weight: 300;
      color: #9f9ea7;
    }

    & p {
      font-size: 14px;
      margin: 10px 0 0 0;
      height: auto!important;
    }

    & textarea {
      padding: 7px;
      display: block;
      margin: 10px 0 0 0;
      width: 80%;
      height: 60px;
      font-size: 14px;
      resize: none;
    }
  }
}

.edit-task {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__left{ width: 70%}
  &__right {
    border-left: 2px solid #d7dce0;
    padding: 0 30px;
    white-space: nowrap;
  }

  &__status {
    display: flex;
    align-items: center;
    margin: 0 0 40px 0;

    & span {
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: red;
      margin: 0 5px 0 0;
    }

    & select {
      padding: 4px;
      border-radius: 5px;
    }
  }

  &__executor {
    & label {
      font-size: 14px;
      font-weight: 300;
      color: #a09fa8;
    }

    & select{
      display: block;
      padding: 4px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 300;
      margin: 10px 0 0 0;
    }
  }

  &__title {

    &_left {
      display: flex;
      align-items: center;

      & span {
        margin: 0 25px 0 0;
      }
    }
  }
}

.comment {
  margin: 55px 0 0 0;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  &__head {
    align-self: flex-start;
    display: flex;
    margin: 0 0 17px 0;

    &_left {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: solid 1px #c5cdd3;
      background-color: #f5f5f5;
      margin: 0 10px 0 0;
    }
    &_right {
      padding: 13px 0 0 0;
      font-size: 16px;
      font-weight: 300;
      color: #525460;
      & span {
        display: block;
      }
    }

      &_name {
        margin: 0 0 12px 0;
      }

      &_date {
        font-size: 12px;
      }
  }

  &__content {
    align-self: flex-end;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #e3e9f4;
    padding: 10px;
  }
}